@import 'var.less';

* {
	box-sizing: border-box;
}

html {
	min-height: 500px;
	font-size: 16px;
}

html, body, div, p, section, article, h1, h2, h3 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

html, body, #__next, .index {
	height: 100%;
	font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
		'Microsoft YaHei', '微软雅黑', 'WenQuanYi Micro Hei', Arial, sans-serif;
		
  -ms-touch-action: manipulation;
	  	touch-action: manipulation;

	//    -moz-user-select: none;
  // -webkit-user-select: none;
	// 		-ms-user-select: none;
	// 				user-select: none;
					
	// wechat font-size
	-webkit-text-size-adjust: 100% !important;
     -moz-text-size-adjust: 100% !important;
          text-size-adjust: 100% !important;
}

.scroll {
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

@media (min-width: 1024px) {
	.scroll {
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}

	.index {
		display: flex;
	}
}

@media (min-width: 1024px) {
  #__next {
		max-width: 1024px;
		margin: 0 auto;
		box-shadow: 0px 0px 8px #777;
	}
	
	body {
		padding: 20px 0 !important;
	}

  html {
    background: #eee;
	}
	
	.hidden-lg {
		display: none !important;
	}
}

@media (max-width: 1024px) {
  .hidden-sm {
		display: none !important;
	}
}

// index

.btn-back {
	color: #fff;
	display: block;
	position: absolute;
	text-align: center;
	font-size: 25px;
	padding: .2em .2em;
	top: .2em;
	left: 0em;
	z-index: 10;
	cursor: pointer;
}

.trans {
	// will-change: opacity;
	// opacity: 0;
	transition: opacity .3s ease-out;
}

.trans-end {
	opacity: 1;
}
