.lafCreate {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 16px;
  
  nav {
    position: relative;
    color: #333;
    background: #f6f6f6;
    height: 50px;
    line-height: 50px;
    text-align: center;

    .create {
      position: absolute;
      float: right;
      font-size: 18px;
      right: 8px;
      top: 0;
    }
  }

  .content {
    flex: 1;
    background-color: #fff;

    textarea {
      border: none;
      width: 100%;
      outline: none;
      padding: 10px;
      color: #333;
      -webkit-appearance: none;
      background: #f1f1f1;
    }

    .input {
      padding: 3px 5px;
      height: 30px;
      outline: none;
      -webkit-appearance: none;
      border: none;
      width: 100%;
      background: #f1f1f1;
    }
  }

  .message {
    padding: 1em;

    p {
      font-size: 13px;
      margin-bottom: 5px;
      color: #444;
    }

    .opt-title {
      font-size: 14px;
      margin-right: 5px;
    }

    select {
      outline: none;
      background: #f1f1f1;
    }
  }

  .type {
    input {
      width: 10px;
    }

    label {
      font-size: 14px;
    }
  }
}
